///
/// Phantom by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Section/Article */

	section {
		margin: 20px 0;
		padding: 20px 0;
		border-top: 1px solid #000;

		&.partners {
			a {
				text-decoration: none;
				border: 0;
			}
		}
	}

	section, article {
		&.special {
			text-align: center;
		}
	}

	.partners {
		.col {
			display: flex;
			align-content: center;
			justify-content: center;
			flex-direction: row;
			align-items: center;
		}
	}

	header {
		p {
			margin-top: _size(element-margin) * -0.5;
		}

		@include breakpoint('<=small') {
			p {
				margin-top: 0;
			}
		}
	}
